@font-face {
    font-family: 'heebo';
    src: url('/fonts/HEEDO/Heebo-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBM';
    src: url(/fonts/IBM/IBMPlexSans-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: heebo;
}

body {
    width: 100%;
}


.nav-bar {
    background: url(/images/Generated\ Image\ October\ 13\,\ 2025\ -\ 9_05PM.png);
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    font-family: heebo;
    font-size: 18px;
    font-weight: 10px;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 100;
}

.logo {
    width: 50px;
}

.links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
}

.links {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
}


.search-form {
    display: flex;
    align-items: center;
    background-color: #ffffff00;
    border: 1.5px solid white;
    border-radius: 12px;
    padding: 8px 12px;
    color: white;
}

.search-form svg {
    width: 18px;
    height: 18px;
    stroke: white;
    margin-right: 10px;
}

.search-input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    font-family: 'heedo';
}

.search-input::placeholder {
    color: #cfd8dc;
    font-family: 'heebo';
}

.hero {
    margin-top: 100px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15vh;
}

#title {
    font-family: 'IBM';
    font-size: 16px;
    margin-top: 8vh;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    width: 70%;
    border: 1px black solid;
    color: white;
    font-weight: 100;
}

#title h3 {
    border-radius: 20px 0 20px 20px;
    border: 3px #5EE088 solid;
    width: 70%;
    font-size: 18px;
    font-family: 'heebo';
    background-color: hsla(145, 63%, 49%, 0.6);
}

.footer-logo {
    width: 150px;
    margin-top: 30px;
}

footer {
    background-color: #002741;
}

.right-panel-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.submit {
    margin-top: 100px;
    display: flex;
    gap: 10px;
}

#email {
    width: 240px;
    border-radius: 50px;
    border: 1px #3498DB solid;
    padding-left: 10px;
}

#submit {
    width: 100px;
    height: 40px;
    border-radius: 50px;
    border: 1px #3498DB solid;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

.footer-container {
    margin: 0 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: start;
    padding: top 20px;
    height: 100vh;
    z-index: 1;
}

#description {
    color: white;
    width: 400px;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
}

.left-panel {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.resaux img {
    width: 32px;
}

.resaux {
    width: 100px;
    position: relative;
    bottom: -100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.right-panel {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
    gap: 40px;
}

.right-panel-item h3 {
    font-family: 'heebo';
    font-size: 24px;
    color: #008AFF;
}

.right-panel-item ul li {
    list-style: none;
    font-size: 14px;
    color: white;
    line-height: 35px;
}

.right-panel-item p {
    font-size: 14px;
    color: #969696;
}

.content {
    width: 100%;
    background: url(/images/bg-sec.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    height: 107.5vh;
}

#myTitle {
    font-family: 'IBM';
    color: #FAFAFA;
    font-size: 45px;
    border: 1px black solid;
    width: 90%;
}

#quote {
    width: 90%;
    font-family: 'heebo';
    color: #FAFAFA;

}

.doctors-availability {
    width: fit-content;
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
    margin-left: 50px;
    width: 500px;
}

#appointment {
    background-color: #FF6F61;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    gap: 3px;

}

.fleche {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

.buttons {
    width: fit-content;
    display: flex;
    gap: 20px;
    align-items: center;


}

#contact {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    border: 1px white solid;
    background: transparent;
    color: white;
}

.doctors-availability {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

#tableau {
    width: 600px;
}

.doctors-availability img {
    width: 600px;
    height: fit-content;
    height: 650px;
}
.Check-Doctor-Availability{
    transform: translateY(-85%);
    width: 81%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
        padding: 10px 10px;
        gap: 20px;
        background-color: white;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding-bottom: 100px;
        


}
.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
        border: 1px black solid;
        padding: 10px 10px;
    border-radius: 20px;
    background-color: white;
}
#Doctor-Type{
    border: none;
}
.label{
    display: flex;
    align-items: center;
}
.loogs-container{
    display: flex;
    justify-content: center;
}
.logos{
    border: black solid 1px; 
    width: 1200px;
    display: flex;
    justify-content: space-between;
}